.donation-chart {
  margin: 20px 0px;
}

canvas {
  /* background-color: #f9f9f9; */
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
